.navbar {
  background-color: #2C3E50 !important;
}

.nav-link {
  transition: 0.3s;
  margin: 5px;
}

.nav-link:hover {
  color: white;
  font-weight: bold;
  background-color: transparent;
}

.nav-link.active {
  background-color: #28a745;
  color: white !important;
  border-radius: 0.5rem;
}
